![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [72]:
# Import necessary packages
import pandas as pd
import numpy as np

# Begin coding here ...
# Use as many cells as you like

In [73]:
airbnb_price = pd.read_csv('data/airbnb_price.csv')
airbnb_price.head()

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

In [74]:
room_type = pd.read_excel('data/airbnb_room_type.xlsx')
room_type.head()

   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

In [75]:
airbnb_review = pd.read_csv('data/airbnb_last_review.tsv', sep='\t')
airbnb_review.head()

   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

In [76]:
new_df = pd.merge(airbnb_price, room_type, on='listing_id')
new_df.head()

   listing_id  ...        room_type
0        2595  ...  Entire home/apt
1        3831  ...  Entire home/apt
2        5099  ...  Entire home/apt
3        5178  ...     private room
4        5238  ...  Entire home/apt

[5 rows x 5 columns]

In [77]:
merged_df = pd.merge(new_df, airbnb_review, on='listing_id')
merged_df.head()

   listing_id        price  ...    host_name   last_review
0        2595  225 dollars  ...     Jennifer   May 21 2019
1        3831   89 dollars  ...  LisaRoxanne  July 05 2019
2        5099  200 dollars  ...        Chris  June 22 2019
3        5178   79 dollars  ...     Shunichi  June 24 2019
4        5238  150 dollars  ...          Ben  June 09 2019

[5 rows x 7 columns]

In [78]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25209 entries, 0 to 25208
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  object
 2   nbhood_full  25209 non-null  object
 3   description  25199 non-null  object
 4   room_type    25209 non-null  object
 5   host_name    25201 non-null  object
 6   last_review  25209 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.5+ MB

In [79]:
merged_df['last_review'] = pd.to_datetime(merged_df['last_review'])

In [80]:
earliest_review = merged_df['last_review'].min()
earliest_review

Timestamp('2019-01-01 00:00:00')

In [81]:
latest_review = merged_df['last_review'].max()
latest_review

Timestamp('2019-07-09 00:00:00')

In [82]:
merged_df['room_type'] = merged_df['room_type'].str.lower()

In [83]:
private_rooms = merged_df[merged_df['room_type'] == 'private room']
num_private_rooms = private_rooms.shape[0]
num_private_rooms

11356

In [84]:
merged_df['price'] = merged_df['price'].str.strip(' dollars').astype(int)

average_price = round(merged_df['price'].mean(), 2)
average_price

141.78

In [85]:
review_dates = pd.DataFrame({'first_reviewed':earliest_review, 'last_reviewed':latest_review,
                            'nb_private_rooms':num_private_rooms, 'avg_price':average_price}, index=[0])
review_dates

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78

In [86]:
#pd.DataFrame({'first_reviewed': [earliest_review], 'last_reviewed': [latest_review],
#              'nb_private_rooms': [num_private_rooms], 'avg_price': [average_price]})